@import url('./variables.css');
@import url('./layouts.css');
@import url('./typography.css');
@import url('./components.css');
@import url('./blogs.css');
@import url('./posts.css');

body {
    margin: 0;
    font-family: var(--font-family);
}
* {
    box-sizing: border-box;
}
.app-header {
    background-color: var(--color-primary-background);
}